# AB Testing Course - PA James

## 0.1 Imposts

In [1]:
import pandas as pd
import numpy as np
import math
from statsmodels.stats import api as sms

# 1.0 Load Data

In [2]:
df_raw = pd.read_csv('../data/ab_data.csv')

In [3]:
df_raw.shape

(294478, 5)

In [4]:
df_raw.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

# 2.0 Design de Experimentos

## 2.1 Formação das Hipóteses

## 2.2 Parâmetros do experimentos

In [5]:
#nível de confiança
confidence_level = 0.95

#nível de significancia
significance_level = 1 - confidence_level

#conversões da página atual e da nova página
p1 = 0.13 #atual
p2 = 0.15 #novo

#tamanho do efeito
effect_size = sms.proportion_effectsize(p1,p2)

#poder estatístico
power = 0.8

In [6]:
#sample size - Tamanho da amostra
sample_n = sms.NormalIndPower().solve_power(
  effect_size,
  power=power,
  alpha=significance_level
)

sample_n = math.ceil(sample_n)
print(f'O tamanho da amostra do grupo controle é de {sample_n}.')
print(f'O tamanho da amostra do grupo de tratamento é de {sample_n}.')
print(f'O tamanho total da amostra é de {sample_n*2}.')

O tamanho da amostra do grupo controle é de 4720.
O tamanho da amostra do grupo de tratamento é de 4720.
O tamanho total da amostra é de 9440.

In [7]:
conversion_rate = 0.1
x = sample_n/conversion_rate

print(f'O número de emails para enviar é de {math.ceil(x)} para cada grupo')
print(f'O número total de emails para enviar é de {math.ceil(x*2)}')

O número de emails para enviar é de 47200 para cada grupo
O número total de emails para enviar é de 94400